<% provide(:title, 'House List') %>

<div class='row'>
	<div class="container" style='width: 40%; float:left'>
	
		<%= render 'bookings/show_house_temp' , style: 'margin-top: 5%'%>

		<%= link_to "Back", root_path, class: 'btn btn-lng'%>
		<%= link_to "Book House", bookings_confirm_path(@house), class: 'btn btn-lng'%>

	</div>

	<%= render 'layouts/sidepanel' , style: 'margin-top: 20%'%>
</div>