<% provide(:title, 'Confirm Booking Page') %>

<div class='row'>
	<h1>Booking - Confirm</h1>
	<%= render 'bookings/show_house_temp' , style: 'margin-top: 5%'%>
	<br />
	<%= link_to 'Back', root_path, class: 'btn btn-lng', style: 'float: left'%>
</div>