<footer class="footer">
  <small>
    by Vignesh Venkatesan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://www.airbnb.co.in/host/experiences?from_nav=1' %></li>
      <li><%= link_to "Contact", 'https://www.airbnb.co.in/help?from=footer' %></li>
      <li><a href="https://press.airbnb.com/">News</a></li>
    </ul>
  </nav>
</footer>